include dash_file_cache/components/dash_file_cache.min.js
include dash_file_cache/components/dash_file_cache.min.js.map
include dash_file_cache/components/async-*.js
include dash_file_cache/components/async-*.js.map
include dash_file_cache/components/*-shared.js
include dash_file_cache/components/*-shared.js.map
include dash_file_cache/components/metadata.json
include dash_file_cache/components/package-info.json
include dash_file_cache/services/dfc_*.html
include dash_file_cache/services/dfc_*.js
include README.md
include Changelog.md
include CONTRIBUTING.md
include CODE_OF_CONDUCT.md
include SECURITY.md
include review_checklist.md
include LICENSE
include package.json
include version/__init__.py
include examples/*
